<div class="reveal">
  <div class="slides">
    <section class="slide">
      <h1>Welcome to Drupal Theming Basics</h1>
      <h2>An episode of <em>'The Muppets Show'</em> with guest star Sheldon Cooper</h2>
      <p>
        txt
      </p>
    </section>

    <section class="slide">
      <p>text</p>
    </section>

    <section class="slide">
      <p>Code:</p>
      <pre><code data-trim>drupal_add_css(drupal_get_path('module', 'custom') . '/css/custom.css', array('group' => CSS_DEFAULT, 'every_page' => TRUE));
      </code></pre>
    </section>
  </div>

</div>

<div initreveal></div>
