// Typography
// -------------------------
$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;

$baseFontSize:          20px;
$baseFontFamily:        $sansFontFamily !default;
$baseLineHeight:        30px;
$altFontFamily:         $serifFontFamily !default;
