@import "base";
@import "compass_twitter_bootstrap_awesome";


@import "reveal";
@import "monokai";

#footer {
  position: absolute;
  left: 20px;
  bottom: 10px;
  font-size: 70%;
}
.slides {
  width: 70%;
}

.slide {
  font-size: 130%;
  height: 65%;
  h1 {
    line-height: $baseLineHeight * 3.5;
  }
  code,
  pre {

  }
}
.progress > span {
  @extend .bar;
}
